@import "bourbon"

@import "_mixins"
@import "_colors"
@import "_layout"
@import "_screen"
@import "_board"
@import "_buttons"

// App
%portrait
  max-width: 415px
  .aside, .section
    float: left
    display: inline-block

  .aside
    display: inherit
    float: right
    margin: 0
    padding: 0

    .fab
      display: inherit

%landscape
  max-width: 740px
  .aside, .section
    float: none

#app
  position: relative
  margin: auto
  overflow: hidden
  background-color: $frontcolor_white
  @include box-shadow-helper(2)

  @media (max-width: 740px) and (orientation: landscape)
    @extend %landscape

  @media (min-width: 741px) and (orientation: landscape)
    @extend %portait

  @media (min-width: 415px) and (orientation: portait)
    @extend %portait


// Header
.header--main
  background-color: $backcolor_blue
  color: $frontcolor_white
  @extend %cursor_hand


// Screens
.screen--start
  background-color: $backcolor_blue

  &.is-inactive
    @include transform(translate3d(-100%,0,0))

  .title--big
    margin-top: -30px
    margin-bottom: 30px
    color: white
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

  .screen__content
    padding: none
    @extend .vcenter
    @extend .hcenter

.screen--board
  &.is-inactive
    @include transform(translate3d(100%,0,0))
