@import "bourbon"

@import "_mixins"
@import "_colors"
@import "_layout"
@import "_screen"
@import "_board"
@import "_buttons"


header
  height: 50px
  line-height: 50px
  text-align: center

.header--main
  background-color: $backcolor_blue
  color: $frontcolor_white

.ui-component
  display: inline-block
